.bp-about-me-content {

  .bp-about-me-section {
    padding: 75px 0;

    .bp-section-title {
      color: #07022d;
      font-weight: 600;
    }

    .bp-image-wrapper {
      text-align: center;

      .bp-image {
        max-width: 90%;
        padding: 0 !important;
        margin-bottom: 0 !important;
        border-radius: 5px;
      }
    }
  }

  .bp-skills-section {
    padding: 75px 0;
    background-color: #07022d;

    .bp-section-title {
      color: #ffb80d;
      font-weight: 600;
    }

    .bp-skill-card {
      font-size: 36px;
      text-align: center;
      padding: 35px;
      margin: 20px 0 ;
      color: #fff;
      font-weight: 600;
    }

    #html-card {
      background-color: #dc532e;
    }

    #css-card {
      background-color: #3069b8;
    }

    #php-card {
      background-color: #4d4988;
    }

    #csharp-card {
      background-color: #672691;
    }

    #javascript-card {
      background-color: #dea632;
    }

    #sql-card {
      background-color: #9d3b3d;
    }
  }
}

@media (max-device-width: 992px), (max-width: 992px) {
  .bp-about-me-content {

    .bp-about-me-section {

      .bp-image-wrapper {
        text-align: left;

        .bp-image {
          margin-top: 20px;
        }
      }
    }

    .bp-skills-section {

      .bp-skill-card {
        font-size: 22px;
      }
    }
  }
}

/*@media (max-device-width: 768px), (max-width: 768px) {
  .bp-about-me-content {

    .bp-section-title {
      text-align: center;
    }

    .bp-about-me-section {
      text-align: center;

      .bp-image-wrapper {

        .bp-image {
          margin-top: 20px;
        }
      }
    }
  }
}*/