.bp-contact-content {

  .bp-page-title {
    margin-top: 75px;
    font-weight: 600;
    color: #07022d;
  }

  .bp-contact-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .bp-contact-item {
      font-size: 20px;
      padding: 5px;
    }
  }

  .bp-msg-form {
    float: right;
    width: 80%;

    .bp-msg-input {
      border: 0;
      box-shadow: none;
      background-color: #f2f2f2;

      &:focus {
        border-bottom: 2px solid #07022d;
        padding-bottom: 4px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .bp-send-msg-btn {
      width: 100%;
      background-color: #ffb80d;
      border: 0;
      margin-bottom: 75px;

      &:focus {
        box-shadow: none;
        background-color: #ffb80d;
      }
    }
  }
}

@media (max-device-width: 768px), (max-width: 768px) {
  .bp-contact-content {

    .bp-contact-list {
      margin: 30px 0;
    }

    .bp-msg-form {
      float: none;
      width: 100%;
    }
  }
}