* {
  font-family: 'Varela Round', sans-serif;
}

body {
  background-color: #07022d;
  padding-top: 62px;

  #particles-js canvas {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.bp-white-background {
  background-color: #fff;
}