.bp-home-content {
  
  .bp-jumbotron {
    background: transparent;
    text-align: center;
    margin-bottom: 0;
    margin-top: 150px;

    .bp-jumbotron-title {
      font-weight: 600;
      color: #fff;
    }
  }

  .bp-link-card {
    text-align: center;
    background: transparent;
    border: 0;

    .bp-read-more-btn {
      background-color: #ffb80d;
      width: 30%;
      border: 0;
      padding: 15px;
      margin: 0 auto 20px auto;

      &:focus, &:active {
        background-color: #ffb80d;
        box-shadow: none;
      }
    }
  }
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
}

@media (max-device-width: 992px), (max-width: 992px) {
  .bp-home-content {

    .bp-jumbotron {

      .bp-jumbotron-title {
        font-size: 28px;
      }
    }
  }
}

@media (max-device-width: 768px), (max-width: 768px) {
  .bp-home-content {

    .bp-jumbotron {

      .bp-jumbotron-title {
        font-size: 24px;
      }
    }

    .bp-link-card {

      .bp-read-more-btn {
        padding: 5px;
      }
    }
  }
}

@media (max-device-width: 768px) {
  .bp-home-content {

    .bp-jumbotron {
      margin-top: 0;
    }
  }
}

@media (max-device-width: 576px), (max-width: 576px) {
  .bp-home-content {

    .bp-jumbotron {
      margin-top: 150px;

      .bp-jumbotron-title {
        font-size: 18px;
      }
    }
  }
}
