.bp-navbar.navbar.navbar-expand-lg {
  background-color: transparent;
  position: fixed;
  width: 100%;
  margin-top: -62px;
  z-index: 5;

  .bp-navbar-title {
    color: #fff;
    font-size: 24px;
  }

  .bp-navbar-toggle {
    color: #fff;
    font-size: 24px;
    outline: none;
    height: 24px;
    margin-top: -12px;
  }

  .bp-nav-list {

    .bp-nav-item {
      margin: 0 10px;

      .bp-nav-link {
        color: #fff;
        font-size: 18px;

        &:hover {
          color: #ffb80d;
        }
      }
    }
  }
}

.bp-white-background {

  .bp-navbar.navbar.navbar-expand-lg {
    background-color: #07022d;
  }
}

@media (max-device-width: 992px), (max-width: 992px) {
  .bp-navbar.navbar.navbar-expand-lg {

    .bp-dropdown-body {
      background-color: #fff;
      border-radius: 5px;

      .bp-nav-list {

        .bp-nav-item {

          .bp-nav-link {
            color: #07022d;

            &:hover {
              color: #ffb80d;
            }
          }
        }
      }
    }
  }

  .bp-white-background {

    .bp-navbar.navbar.navbar-expand-lg {
      background-color: #07022d;

      .bp-dropdown-body {
        background-color: #07022d;
        border-radius: 5px;

        .bp-nav-list {

          .bp-nav-item {

            .bp-nav-link {
              color: #fff;

              &:hover {
                color: #ffb80d;
              }
            }
          }
        }
      }
    }
  }
}